<--	TEMPLATE BY vincenzo.petronio 'AT' gmail.com	-->
<--	BASED ON MODIFIED VERSION BY eMule-Project.net	-->
<--	BASED ON MODIFIED VERSION BY eMule+				-->
<--	BASED ON TEMPLATE BY Chicane					-->

<--TMPL_VERSION-->
8
<--TMPL_VERSION_END-->

<!-- Deprecated -->
<--TMPL_FOOTER-->
<--TMPL_FOOTER_END-->
<--TMPL_HEADER_STYLESHEET-->
<--TMPL_HEADER_STYLESHEET_END-->
<--TMPL_SERVERINFO-->
<--TMPL_SERVERINFO_END-->

<--TMPL_LOGIN-->
<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>[eMuleAppName] [version] - [WebControl]</title>
		<meta name="description" content="Template for eMule Web interface based on HTML5 Boilerplate & Bootstrap">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<style>
			body {
				padding-top: 50px;
				padding-bottom: 20px;
				background: url(main_bg.gif);
			}
			div {
				padding: 10px;
			}
		</style>
		<script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.6.2.js"></script>
	</head>

	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4" align="center">
					<div>
						<h2>[Login] [WebControl]</h2>
					</div>
					<div>
						<a href="http://emule-project.net" target="_blank"><img src="logo.jpg" class="img-responsive" alt="eMule-Project"></a>
					</div>
					<div>
						<form method="post" name="login" role="form">
							<div class="form-group">
								<label for="psw">[EnterPassword]</label>
								<input type="password" id="psw" name=p maxlength=12 value="" autofocus class="form-control">
								<input type="hidden" name=w value="password">
							</div>
							<button type="submit" class="btn">[LoginNow]</button>
						</form>
					</div>
				</div>
			</div>
			<div class="row" align="right">
				<footer>
					<p>2014</p>
				</footer>
			</div>
		</div>
		<!-- /container -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
<--TMPL_LOGIN_END-->


<--TMPL_HEADER-->
<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>[eMuleAppName] [version] - [WebControl]</title>
		<meta name="description" content="Template for eMule Web interface based on HTML5 Boilerplate & Bootstrap">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.6.2.js"></script>
		<style>
			.top-buffer { 
				margin-top:50px; 
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="background: url(main_menubg.gif)">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-custom"></button>
					<a class="navbar-brand" href="#">[WebControl]</a>
				</div>
				
				<div class="collapse navbar-collapse" id="navbar-collapse-custom">
					<ul class="nav navbar-nav" align="center">
						<li><a href="?ses=[Session]&amp;w=kad"><img src="h_kad.gif" align="center"><br />[Kad]</a></li>
						<li><a href="?ses=[Session]&amp;w=server"><img src="h_server.gif" align="center"><br />[Server]</a></li>
						<li><a href="?ses=[Session]&amp;w=transfer"><img src="h_transfer.gif" align="center"><br />[Transfer]</a></li>
						<li><a href="?ses=[Session]&amp;w=search"><img src="h_search.gif" align="center"><br />[Search]</a></li>
						<li><a href="?ses=[Session]&amp;w=shared"><img src="h_shared.gif" align="center"><br />[Shared]</a></li>
						<li><a href="?ses=[Session]&amp;w=stats"><img src="h_statistic.gif" align="center"><br />[Stats]</a></li>
						<li><a href="?ses=[Session]&amp;w=graphs"><img src="h_graph.gif" align="center"><br />[Graphs]</a></li>
						<li><a href="?ses=[Session]&amp;w=options"><img src="h_preferences.gif" align="center"><br />[Options]</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">[WebOptions]<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#" data-target="#ed2k-modal" data-toggle="modal"><img src="l_ed2klink.gif" /> [Ed2klink]</a></li>
								<li class="divider"></li>
								<li><a href="?ses=[Session]&amp;w=myinfo"><img src="l_info.gif" /> [MyInfo]</a></li>
								<li><a href="?ses=[Session]&amp;w=log#end"><img src="h_log.gif" /> [Log]</a></li>
								<li><a href="?ses=[Session]&amp;w=debuglog#end"><img src="h_log.gif" /> [DebugLog]</a></li>
								<li><a href="http://emule-project.net" target="_blank"><img src="l_homepage.gif" /> eMule Homepage</a></li>
								<li class="divider"></li>
								<li><a href="?ses=[Session]&amp;w=logout"><img src="l_logout.gif" /> [Logout]</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<p>[Connection]</p>
				</div>
				<div class="col-md-11">
					<div class="row">
						<div class="col-md-6">
							<img src="[ConState].gif" style="margin: 4px" />
							<label> [ConText] </label>
						</div>
						<div class="col-md-6">
							<img src="h_kad.gif" width="16" style="margin: 4px" />
							<label> [KadConText] </label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<p>[QuickStats]</p>
				</div>
				<div class="col-md-11">
					<div class="row">
						<div class="col-md-3">
							<img src="arrow_down.gif" style="margin: 4px" />
							<label> [Down]: [CurDownload] ([MaxDownload]) </label>
						</div>
						<div class="col-md-3">
							<img src="arrow_up.gif" style="margin: 4px" />
							<label> [Up]: [CurUpload] ([MaxUpload]) </label>
						</div>
						<div class="col-md-3">
							<img src="l_con.gif" style="margin: 4px" />
							<label> [Con]: [CurConnection] ([MaxConnection]) </label>
						</div>
						<div class="col-md-3">
							<img src="l_users.gif" style="margin: 4px" />
							<label> [Users]: [CurUsers] ([MaxUsers]) </label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- eD2k MODAL -->
		<div class="modal fade" id="ed2k-modal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="modalLabel">[Ed2klink]</h4>
					</div>
					<div class="modal-body">
						<form method="get" name="login" role="form" action="./">
							<div class="form-group">
								<input type="hidden" name=ses value="[Session]">
								<input type="hidden" name=w value=transfer>
								<textarea name="ed2k" type="text" rows="4" class="form-control" style="resize: vertical" autofocus></textarea>
							</div>
							<input type="submit" value="[Start]">[CATBOXED2K]
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<!-- /container -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(document).ready(
				function () {
					$("#popoverColumnMenu").popover({
						content: columnmenu(event, 
							'server', 'menu', '[ServernameM]', '[ServernameH]', '[AddressM]', '[AddressH]', 
							'[DescriptionM]', '[DescriptionH]', '[PingM]', '[PingH]', '[UsersM]', '[UsersH]', 
							'[FilesM]', '[FilesH]', '[PriorityM]', '[PriorityH]', '[FailedM]', '[FailedH]', 
							'[LimitM]', '[LimitH]', '[VersionM]', '[VersionH]', '', '')
					}).on("mouseenter", function () {
						var _this = this;
						$(this).popover("show");
						$(this).siblings(".popover").on("mouseleave", function () {
							$(_this).popover('hide');
						});
					}).on("mouseleave", function () {
						var _this = this;
						setTimeout(function () {
							if (!$(".popover:hover").length) {
								$(_this).popover("hide")
							}
						}, 300);
					});
					
					$("#popoverServerNameMenu").popover({
						content: servermenu(event, '[admin]', '[ed2k]', '[session]', '[ip]', '[port]', '[isstatic]')
					}).on("mouseenter", function () {
						var _this = this;
						$(this).popover("show");
						$(this).siblings(".popover").on("mouseleave", function () {
							$(_this).popover('hide');
						});
					}).on("mouseleave", function () {
						var _this = this;
						setTimeout(function () {
							if (!$(".popover:hover").length) {
								$(_this).popover("hide")
							}
						}, 300);
					});
					
					$("#popoverServerPriorityMenu").popover({
						content: serverpriomenu(event, '[admin]', '[session]', '[ip]', '[port]', '[server-priority]')
					}).on("mouseenter", function () {
						var _this = this;
						$(this).popover("show");
						$(this).siblings(".popover").on("mouseleave", function () {
							$(_this).popover('hide');
						});
					}).on("mouseleave", function () {
						var _this = this;
						setTimeout(function () {
							if (!$(".popover:hover").length) {
								$(_this).popover("hide")
							}
						}, 300);
					});
				}
			);
			
			function columnmenu(event, tab, menu, m1, e1, m2, e2, m3, e3, m4, e4, m5, e5, m6, e6, m7, e7, m8, e8, m9, e9, m10, e10, m11, e11) {
				var code = new Array();
				code = "";

				for (i=1; i<=11; i++) {
					try {
						var e = eval('e'+i);
						var m = eval('m'+i);
						var j = i - 1;
				
						if(e != "") { 
							code += '<a href="?ses=[Session]&amp;w=' + tab + '&amp;c=' + menu + '&amp;m=' + j +'&amp;v=1"><p><img src="checked.gif" style="background: #999; padding: 2px;">' + m + '&nbsp;</p></a>' 
						}
						else if(m != "") { 
							code += '<a href="?ses=[Session]&amp;w=' + tab + '&amp;c=' + menu + '&amp;m=' + j +'&amp;v=0"><p><img src="checked_no.gif" style="background: #999; padding: 2px;">' + m +'&nbsp;</p></a>' 
						}
					} catch(e) {
						alert('Doesn\'t exist that variable');
					}
				}
				
				return code;
			}
			
			function servermenu(event, admin, ed2k, session, ip, port, isstatic) {
				var code = new Array();
				ed2kinfo = ed2k;
				code = "";
				
				if(admin == "admin") {
					code += '<a href="?ses=' + session + '&w=server&c=connect&ip=' + ip + '&port=' + port + '"><p><img src="l_connect.gif" style="padding: 2px;">[Connect]<p></a>'
					code += '<a href="?ses=' + session + '&w=server&c=remove&ip=' + ip + '&port=' + port + '" onclick="return confirm(\'[ConfirmRemove]\')' + '"><p><img src="l_cancel.gif" style="padding: 2px;">[RemoveServer]</p></a>'
					if(isstatic)
						code += '<a href="?ses=' + session + '&w=server&c=removefromstatic&ip=' + ip + '&port=' + port + '"><p><img src="l_static.gif" style="padding: 2px;">[StaticServer]</p></a>'
					else
						code += '<a href="?ses=' + session + '&w=server&c=addtostatic&ip=' + ip + '&port=' + port + '"><p><img src="l_static.gif" style="padding: 2px;">[StaticServer]</p></a>'
				}
			
				return code;
			}
			
			function serverpriomenu(event, admin, session, ip, port, priority) {
				var code = new Array();
				code = "";
			
				if(admin == "admin") {
					if(priority == "Low")
						code = '<a href="?ses=' + session + '&w=server&c=priolow&ip=' + ip + '&port=' + port + '"><p><img src="checked.gif">[PriorityLow]</p></a>'
					else
						code = '<a href="?ses=' + session + '&w=server&c=priolow&ip=' + ip + '&port=' + port + '"><p><img src="checked_no.gif">[PriorityLow]</p></a>'
					if(priority == "Normal")
						code += '<a href="?ses=' + session + '&w=server&c=prionormal&ip=' + ip + '&port=' + port + '"><p><img src="checked.gif">[PriorityNormal]</p></a>'
					else
						code += '<a href="?ses=' + session + '&w=server&c=prionormal&ip=' + ip + '&port=' + port + '"><p><img src="checked_no.gif">[PriorityNormal]</p></a>'
					if(priority == "High")
						code += '<a href="?ses=' + session + '&w=server&c=priohigh&ip=' + ip + '&port=' + port + '"><p><img src="checked.gif">[PriorityHigh]</p></a>'
					else
						code += '<a href="?ses=' + session + '&w=server&c=priohigh&ip=' + ip + '&port=' + port + '"><p><img src="checked_no.gif">[PriorityHigh]</p></a>'
				}
				
				return code;
			}
		</script>
	</body>
</html>
<--TMPL_HEADER_END-->


<--TMPL_BOOTSTRAPLINE-->
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">[BOOTSTRAP]</h3>
		</div>
		<div class="panel-body">
			<form method="get" name="bootstrap" role="form" class="col-xs-6">
				<div class="form-group">
					<label for="ip">[BS_IP]</label>
					<input type="text" id="ip" name="ip" value="" autofocus class="form-control">
					<label for="port">[BS_PORT]</label>
					<input type="text" id="port" name="port" value="" class="form-control">
					<input type="hidden" name="ses" value="[Session]">
					<input type="hidden" name="w" value="kad">
					<input type="hidden" name="bootstrap" value="kad">
				</div>
				<button type="submit" class="btn">[BOOTSTRAP]</button>
			</form>
		</div>
	</div>
</div>
<--TMPL_BOOTSTRAPLINE_END-->


<--TMPL_KADDLG-->
<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">[KAD]</h3>
			</div>
			<div class="panel-body">
				<div class="col-xs-4">
					[STATUS]
				</div>
				<div class="col-xs-4">
					[KADSTATUS]
				</div>
				<div class="col-lg-4">
					<label>[KADACTION]</label>
				</div>
			</div>
		</div>
	</div>
	[BOOTSTRAPLINE]
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">[KADSTAT]</h3>
			</div>
			<div class="panel-body">
				<div class="col-xs-6">
					[KADSTATSLABELS]
				</div>
				<div class="col-xs-6">
					[KADSTATSDATA]
				</div>
			</div>
		</div>
	</div>
</div>
<--TMPL_KADDLG_END-->


<--TMPL_MYINFO-->
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<pre>[MYINFOLOG]</pre>
		</div>
	</div>
</div>
<--TMPL_MYINFO_END-->


<--TMPL_LOG-->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<pre>[Log]</pre>
		</div>
		<form method="get" name="reset" role="form" class="col-xs-6">
			<div class="form-group">
				<input type="hidden" name="ses" value="[Session]">
				<input type="hidden" name="w" value="log">
				<input type="hidden" name="clear" value="yes">
			</div>
			<button type="submit" class="btn">[Clear]</button>
		</form>
	</div>
</div>
<--TMPL_LOG_END-->


<--TMPL_DEBUGLOG-->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<pre>[DebugLog]</pre>
		</div>
		<form method="get" name="reset" role="form" class="col-xs-6">
			<div class="form-group">
				<input type="hidden" name="ses" value="[Session]">
				<input type="hidden" name="w" value="debuglog">
				<input type="hidden" name="clear" value="yes">
			</div>
			<button type="submit" class="btn">[Clear]</button>
		</form>
	</div>
</div>
<--TMPL_DEBUGLOG_END-->


<--TMPL_SERVER_LIST-->
[AddServerBox]
<--TMPL_SERVER_LIST_END-->


<--TMPL_SERVER_LINE-->
<tbody>
	<tr>
		<td><a id="popoverServerNameMenu" rel="popover" href="#" data-placement="bottom" data-trigger="click" data-content="" data-html="true">[Servername]</a></td>
		<td>[Address]</td>
		<td>[Description]</td>
		<td>[Ping]</td>
		<td>[Users]</td>
		<td>[Files]</td>
		<td><a id="popoverServerPriorityMenu" rel="popover" href="#" data-placement="bottom" data-trigger="click" data-content="" data-html="true">[Priority]</a></td>
		<td>[Failed]</td>
		<td>[Limit]</td>
		<td>[Version]</td>
	</tr>
</tbody>
<--TMPL_SERVER_LINE_END-->


<--TMPL_ADDSERVERBOX-->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#serverTab1" data-toggle="tab"><img src="l_connect.gif" />[ServerOptions]</a></li>
				<li><a href="#serverTab2" data-toggle="tab"><img src="l_search.gif" /> [UpdateServerMetFromURL]</a></li>
				<li><a href="#serverTab3" data-toggle="tab"><img src="l_search.gif" /> [AddServer]</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="serverTab1">
					<form role="form" method="get" action="" style="padding:15px;">
						<p>
							<button type="button" class="btn btn-default" onclick="window.location.href='[URL_Connect]'">[Connect]</button>
							<button type="button" class="btn btn-default" onclick="window.location.href='[URL_Disconnect]'">[Disconnect]</button>
						</p>
					</form>
				</div>
				<div class="tab-pane" id="serverTab2">
					<form role="form" method="get" action="" style="padding:15px;">
						<div class="row">
							<div class="col-xs-4">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="[IP]">
									<span class="input-group-btn">
										<input type="hidden" name=ses value="[Session]">
										<input type="hidden" name=w value="server">
										<input type="hidden" name=c value="options">
										<input name="updateservermetfromurl" type="hidden" value="true">
										<input type="submit" class="btn btn-default">[Apply]</input>
									</span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="serverTab3">
					<form role="form" method="get" action="" style="padding:15px;" class="col-sm-4">
						<div class="form-group">
							<input type="text" class="form-control" name="serveraddr" placeholder="[IP]">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="serverport" placeholder="[Port]">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="servername" placeholder="[Name]">
						</div>
						<div class="form-group">
							<label>
								[Static]
								<input type="checkbox" name="addtostatic" value="true">
							</label>
						</div>
						<div class="form-group">
							<label>
								[ConnectNow]
								<input type="checkbox" name="connectnow" value="true">
							</label>
						</div>
						<div class="form-group">
							<label>[Priority]</label>
							<select class="form-control" name="priority">
								<option value="low">[Low]</option>
								<option value="normal">[Normal]</option>
								<option value="high">[High]</option>
							</select>
						</div>
						<div>
							<input type="hidden" name=ses value="[Session]">
							<input type="hidden" name=w value="server">
							<input type="hidden" name=c value="options">
							<input name="addserver" type="hidden" value="true">
							<button type="submit" class="btn btn-default">[Add]</input>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="messageDiv" class="alert alert-info">
		[Message]
	</div>
	<div class="row top-buffer">
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>
								<img src="l_server.gif">&nbsp;
								<a id="popoverColumnMenu" rel="popover" href="#" data-placement="bottom" data-trigger="click" data-content="" data-html="true">[ServerList]</a>
							</th>
						</tr>
						<tr>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=state[SortState]">&times;</a>&nbsp;<a href="?ses=[Session]&amp;w=server&amp;sort=name[SortName]">[ServernameH][ServernameI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=ip[SortIP]">[AddressH][AddressI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=description[SortDescription]">[DescriptionH][DescriptionI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=ping[SortPing]">[PingH][PingI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=users[SortUsers]">[UsersH][UsersI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=files[SortFiles]">[FilesH][FilesI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=priority[SortPriority]">[PriorityH][PriorityI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=failed[SortFailed]">[FailedH][FailedI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=limit[SortLimit]">[LimitH][LimitI]</a></th>
							<th><a href="?ses=[Session]&amp;w=server&amp;sort=version[SortVersion]">[VersionH][VersionI]</a></th>
						</tr>
					</thead>
					[ServersList]
				</table>
			</div>
		</div>
	</div>
</div>
<--TMPL_ADDSERVERBOX_END-->